## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
variable= 45
print(variable)

45

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(variable)

int

4) Crear una variable que contenga tu nombre

In [11]:
nombre="Johnny Urdin"

5) Crear una variable que contenga un número complejo

In [5]:
precio=1+1j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(precio)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [10]:
pi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
aceptado=True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [9]:
type(aceptado)

bool

10) Asignar a una variable, la suma de un número entero y otro decimal

In [12]:
suma=43+89.56

11) Realizar una operación de suma de números complejos

In [14]:
n1=1+4j
n2=4+3j

n1+n2

(5+7j)

12) Realizar una operación de suma de un número real y otro complejo

In [17]:
n3=7
n4=1+9j
n3+n4

(8+9j)

13) Realizar una operación de multiplicación

In [16]:
6*9

54

14) Mostrar el resultado de elevar 2 a la octava potencia

In [18]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [20]:
cociente=27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [21]:
27//4

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [22]:
27%4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [23]:
6*4+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [25]:
nombre="Johnny"
apellido="Urdin"
nombre+" "+apellido

'Johnny Urdin'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [27]:
2 =='2'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [30]:
2==2
'2'=='2'
2==int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [33]:
a=float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [36]:
valor= 3
valor-=1
print(valor)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [48]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [38]:
2+'2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [49]:
2==int('2')

True